<!--index.html-->
<!DOCTYPE html>
<html id="index">
<!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.0.0-beta.11")
  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
    type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@1.15.10/dist/quasar.min.css" rel="stylesheet" type="text/css">
<!-- Notice lang="sass" -->
<style lang="sass">
  .q-pa-xs {
    padding: 1px 1px;
  }
  .q-checkbox__inner {
    font-size: 25px;
  }
  .q-table tbody td, .q-table thead tr {
    height: 32px;
    padding: 3px 8px;
  }
</style>    
</head>

<body>
  <div id="q-app" class="q-pa-xs" >
    <q-layout view="lHh Lpr lFf" class="bg-white" container style="height: 960px; ">
      <q-header elevated>
        <q-toolbar>
          <q-btn flat dense round @click="drawerOpen = !drawerOpen" aria-label="Menu" icon="menu" ></q-btn>

          <q-toolbar-title><(.title)></q-toolbar-title>

        </q-toolbar>
      </q-header>

      <q-drawer id="drawer" v-model="drawerOpen" :show-if-above="false" bordered content-class="bg-grey-2">
        <q-list>
          <q-item-label header>Menü</q-item-label>
          <q-item clickable tag="a" href="/">
            <q-item-section avatar>
              <q-icon name="home" ></q-icon>
            </q-item-section>
            <q-item-section>
              <q-item-label>home</q-item-label>
            </q-item-section>
          </q-item>          <q-item clickable tag="a" href="/settings">
            <q-item-section avatar>
              <q-icon name="settings" ></q-icon>
            </q-item-section>
            <q-item-section>
              <q-item-label>settings</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable tag="a" href="/resources">
            <q-item-section avatar>
              <q-icon name="groups" ></q-icon>
            </q-item-section>
            <q-item-section>
              <q-item-label>resources</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-drawer>

      <q-page-container>
        <!--router-view /-->

          <q-page padding>
          <!-- Tablle  -->
          <q-table style="height: 850px; " :data="tableData"  row-key="id" :visible-columns="visibleColumns" :columns="columns"
            no-data-label="I didn't find anything" :separator="separator" :loading="loading" :filter="filter"
            selection="single" :selected.sync="selected" virtual-scroll :rows-per-page-options="[0]">
            <template v-slot:top-left>
              <q-text>{{GetLabel(tableTitle)}}</q-text>
              <q-btn icon-right="read_more" @click="onDetail()" flat color="primary">
                <q-tooltip>Detail</q-tooltip>
              </q-btn>
            </template>

            <template v-slot:top-right="props">

              <q-input dense debounce="300" v-model="filter" placeholder="Filter" outlined clearable flat
                class="q-ml-sm">
                <template v-slot:append>
                  <q-icon name="filter_alt"></q-icon>
                </template>
              </q-input>

              <q-space></q-space>

              <q-space></q-space>

              <q-btn icon-right="archive" no-caps @click="exportTable" flat class="q-ml-sm" color="primary">
                <q-tooltip>CSV Export</q-tooltip>
              </q-btn>
              <q-btn :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'" flat round dense
                @click="props.toggleFullscreen" class="q-ml-sm" color="primary"></q-btn>

            </template>
          </q-table>
        </q-page>
      </div>

      </q-page-container>
    </q-layout>
  </div>

  <!-- Add the following at the end of your body tag -->

  <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.10/dist/quasar.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.10/dist/lang/de.umd.min.js"></script>
  <!--script src="https://cdn.jsdelivr.net/npm/flat@5.0.2/index.min.js"></script-->
  <script src="/vendor/flat.index.min.js"></script>
  <script src="/vendor/go-skydisc.js"></script>

  <script>
    /*
      Example kicking off the UI. Obviously, adapt this to your specific needs.
      Assumes you have a <div id="q-app"></div> in your <body> above
     */
    Quasar.lang.set(Quasar.lang.de)
    app = new Vue({
      el: '#q-app',
      //
      data: function () {
        return {
          drawerOpen: false,
          tableData: [],
          tableTitle: "",
          seach_field: "id",
          search: "*",
          maxline: 50,
          filter: "",
          loading: false,
          separator: "cell",
          pagination: { rowsPerPage: 0 },
          visibleColumns: [],
          columns: [],
          selected: [],
        }
      },
      computed: {
      },
      //
      created() {
        this.tableTitle = "Order";
        this.getDataFromApi("DataOrder", "?q=" + this.seach_field + ":" + this.search.replaceAll('%', '*') +
          "&sort=earliest_start%20desc&rows=" + this.maxline, "tableData");
       
      },
      //
      mounted() {
        
      },
      //
      methods: {

        //Daten vom Server async holen
        getDataFromApi(iPath, iQuery, cData) {
          GetDataFromApi(this,iPath, iQuery, cData)
        },

        //order Detail
        onDetail() {
          if (this.selected.length != 0 && this.selected[0].id != '')  {
            //
            history.pushState({}, document.title);
                    window.location.replace("/order/"+this.selected[0].id);
          } else {
            this.$q.notify({
              progress: true,
              message: 'Bitte eine Zeile markieren.',
              color: 'warning',
              actions: [
                { label: 'OK', color: 'black', handler: () => { /* ... */ } }
              ]
            })
          }
        },

        //Export der Tabelle als CSV
        exportTable() {
          // naive encoding to csv format
          const content = [this.columns.map(col => wrapCsvValue(col.label))].concat(
            this.tableData.map(row => this.columns.map(col => wrapCsvValue(
              typeof col.field === 'function'
                ? col.field(row)
                : row[col.field === void 0 ? col.name : col.field],
              col.format
            )).join(','))
          ).join('\r\n')

          const status = Quasar.exportFile(
            'table-export.csv',
            content,
            'text/csv'
          )

          if (status !== true) {
            this.$q.notify({
              message: 'Browser denied file download...',
              color: 'negative',
              icon: 'warning'
            })
          }
        },

      },
      // ...etc
    });

    function wrapCsvValue(val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
      * Excel accepts \n and \r in strings, but some other CSV parsers do not
      * Uncomment the next two lines to escape new lines
      */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    }

  </script>
</body>

</html>