<!--order.html-->
<!DOCTYPE html>
<html id="order">
<!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.0.0-beta.11")
  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
    type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@1.15.11/dist/quasar.min.css" rel="stylesheet" type="text/css">

<!-- Notice lang="sass" -->
<style lang="sass">
  .q-pa-xs {
    padding: 1px 1px;
  }
  .q-checkbox__inner {
    font-size: 25px;
  }
  .q-table tbody td, .q-table thead tr {
    height: 32px;
    padding: 3px 8px;
  }
</style>

</head>

<body>
  <div id="q-app" class="q-pa-xs ">
    <q-layout view="lHh Lpr lFf" class="bg-white" container style="height: 960px">
      <q-header elevated>
        <q-toolbar>
          <q-btn flat dense round @click="drawerOpen = !drawerOpen" aria-label="Menu" icon="menu" ></q-btn>

          <q-toolbar-title><(.title)></q-toolbar-title>

        </q-toolbar>
      </q-header>

      <q-drawer id="drawer" v-model="drawerOpen" :show-if-above="false" bordered content-class="bg-grey-2">
        <q-list>
          <q-item-label header>Menü</q-item-label>
          <q-item clickable tag="a" href="/">
            <q-item-section avatar>
              <q-icon name="home" ></q-icon>
            </q-item-section>
            <q-item-section>
              <q-item-label>home</q-item-label>
            </q-item-section>
          </q-item>          <q-item clickable tag="a" href="/settings">
            <q-item-section avatar>
              <q-icon name="settings" ></q-icon>
            </q-item-section>
            <q-item-section>
              <q-item-label>settings</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable tag="a" href="/resources">
            <q-item-section avatar>
              <q-icon name="groups" ></q-icon>
            </q-item-section>
            <q-item-section>
              <q-item-label>resources</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-drawer>

      <q-page-container>
        <!--router-view /-->

        <q-page padding>
          <q-btn icon-right="format_indent_decrease" @click="onGoTo('/')" flat color="primary">
            <q-tooltip>Tabelle</q-tooltip>
          </q-btn>

          <div :v-if="order.id != ''"  class="fit row " style="height: 100%;">

            <q-card style="width: 100%;height: 100%;">
              <q-card-section>

                <q-form @submit="onSubmit" class="q-gutter-xs" style="height: 100%;">
                  <div class="q-gutter-xs row "> 
                    
                    <q-card style="width: 100%;">
                      <q-card-section class="row">
                      <q-input v-model="order['id']" :label="GetLabel('id')" readonly></q-input>
                      <q-input v-model="order['description']" :label="GetLabel('description')" style="width: 300px"></q-input>
                      <q-select v-model="order['order_type_ref']" 
                        :options="CatOrderClass" option-value="class" option-label="name" emit-value map-options
                        :label="GetLabel('order_type_ref')" style="width: 150px" readonly></q-select>
                      <q-input v-model="order['distress']" :label="GetLabel('distress')" style="width: 60px" readonly></q-input>  
                      <q-input v-model="order['priority']" :label="GetLabel('priority')" style="width: 60px" readonly></q-input>     
                      <q-select v-model="order['order_status_ref']" 
                        :options="CatOrderStatus" option-value="status" option-label="name" emit-value map-options
                        :label="GetLabel('order_status_ref')" style="width: 150px" readonly></q-select>
                      <q-input v-model="order['CreatedAt']" :label="GetLabel('CreatedAt')" mask='datetime' readonly></q-input>  
                      </q-card-section>                      
                    </q-card>

                    <q-card>
                      <q-card-section class="col">
                        <q-item-label>Kunde/Lokation</q-item-label>
                        <q-input v-model="order['client.name']" :label="GetLabel('client')" style="width: 300px;"></q-input>
                        <q-input v-model="order['contact_person.name']" :label="GetLabel('contact_person')" style="width: 300px;"></q-input>
                        <q-input v-model="order['location.street']" :label="GetLabel('street')" style="width: 300px;">
                          <q-input v-model="order['location.street_number']" :label="GetLabel('street_number')" style="width: 50px;"></q-input>
                        </q-input>
                        <q-input v-model="order['location.post_code']" :label="GetLabel('post_code')" style="width: 200px;">
                          <q-input v-model="order['location.town']" :label="GetLabel('town')" style="width: 250px;"></q-input>
                        </q-input>
                      
                      </q-card-section>                      
                    </q-card>   
                    
                    <q-card>
                      <q-card-section class="col">
                        <q-item-label>Termine</q-item-label>
                        <q-input v-model="order['earliest_start']" :label="GetLabel('earliest_start')" style="width: 150px;" mask='datetime' readonly></q-input>
                        <q-input v-model="order['latest_end']" :label="GetLabel('latest_end')" style="width: 150px;" mask='datetime' readonly></q-input>
                        <q-input v-model="order['duration']" :label="GetLabel('duration')" style="width: 150px;" readonly></q-input>
                        <q-input v-model="order['project.project_name']" :label="GetLabel('project_name')" style="width: 150px;" readonly></q-input>
                      </q-card-section>                      
                    </q-card>                       
                    
                    <q-card>
                      <q-card-section class="col">
                        <q-item-label>ServiceArea</q-item-label>
                        <q-input v-model="order['service_area.name']" :label="GetLabel('name')" style="width: 300px;" readonly></q-input>
                        <q-input v-model="order['service_area.location.street']" :label="GetLabel('street')" style="width: 300px;" readonly>
                          <q-input v-model="order['service_area.location.street_number']" :label="GetLabel('street_number')" style="width: 50px;" readonly></q-input>
                        </q-input>
                        <q-input v-model="order['service_area.location.post_code']" :label="GetLabel('post_code')" style="width: 200px;" readonly>
                          <q-input v-model="order['service_area.location.town']" :label="GetLabel('town')" style="width: 250px;" readonly></q-input>
                        </q-input>
                      
                      </q-card-section>                      
                    </q-card>      
                    
                    <q-card>
                      <q-card-section class="col">
                        <q-item-label>Anforderungen</q-item-label>
                        <q-input v-model="order['requirement.qualification.name']" :label="GetLabel('qualification')" style="width: 160px;" readonly></q-input>
                        <q-input v-model="order['requirement.trade.name']" :label="GetLabel('trade')" style="width: 160;" readonly></q-input>
                        <q-input v-model="order['requirement.num_of_resources']" :label="GetLabel('num_of_resources')" style="width: 100px;" readonly></q-input>
                      
                      </q-card-section>                      
                    </q-card>                     


                  </div>

                  <div>
                    <q-btn label="Submit" type="submit" color="primary" />
                  </div>
                </q-form>

              </q-card-section>
            </q-card>
            
           </div>  

        </q-page>

      </q-page-container>
    </q-layout>
  </div>

  <!-- Add the following at the end of your body tag -->

  <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.11/dist/quasar.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.11/dist/lang/de.umd.min.js"></script>
  <!--script src="https://cdn.jsdelivr.net/npm/flat@5.0.2/index.min.js"></script-->
  <script src="/vendor/flat.index.min.js"></script>
  <script src="/vendor/go-skydisc.js"></script>

  <script>
    /*
      Example kicking off the UI. Obviously, adapt this to your specific needs.
      Assumes you have a <div id="q-app"></div> in your <body> above
     */
    Quasar.lang.set(Quasar.lang.de)
    app = new Vue({
      el: '#q-app',
      //
      data: function () {
        return {
          order: <(.order)>,
          drawerOpen: false,
          tableData: [],
          tableTitle: "",
          seach_field: "id",
          search: "*",
          maxline: 50,
          filter: "",
          loading: false,
          separator: "cell",
          pagination: { rowsPerPage: 0 },
          visibleColumns: [],
          columns: [],
          selected: [],
          CatOrderClass: [],
          CatOrderStatus: [],
        }
      },
      computed: {
      },
      //
      created() {
        //this.tableTitle = "Capacity";
        //this.seach_field = "id";
        //this.search = this.order.id.toString();
        //this.getDataFromApi("SearchCapacity", "?q=" + this.seach_field + ":" + this.search, "tableData");
        this.getDataFromApi("CatOrderClass", "?Q=class:%","CatOrderClass");
        this.getDataFromApi("CatOrderStatus", "?Q=status:%","CatOrderStatus");

        this.order = flatten(this.order);
      },
      //
      mounted() {

      },
      //
      methods: {

        //Daten vom Server async holen
        getDataFromApi(iPath, iQuery, cData) {
          GetDataFromApi(this,iPath, iQuery, cData)
        },


        onGoTo(iPath) {

        },

        onSubmit() {

        },

        onReset() {

        },

        //Export der Tabelle als CSV
        exportTable() {
          // naive encoding to csv format
          const content = [this.columns.map(col => wrapCsvValue(col.label))].concat(
            this.tableData.map(row => this.columns.map(col => wrapCsvValue(
              typeof col.field === 'function'
                ? col.field(row)
                : row[col.field === void 0 ? col.name : col.field],
              col.format
            )).join(','))
          ).join('\r\n')

          const status = Quasar.exportFile(
            'table-export.csv',
            content,
            'text/csv'
          )

          if (status !== true) {
            this.$q.notify({
              message: 'Browser denied file download...',
              color: 'negative',
              icon: 'warning'
            })
          }
        },

      },
      // ...etc
    });

    function wrapCsvValue(val, formatFn) {
      let formatted = formatFn !== void 0
        ? formatFn(val)
        : val

      formatted = formatted === void 0 || formatted === null
        ? ''
        : String(formatted)

      formatted = formatted.split('"').join('""')
      /**
      * Excel accepts \n and \r in strings, but some other CSV parsers do not
      * Uncomment the next two lines to escape new lines
      */
      // .split('\n').join('\\n')
      // .split('\r').join('\\r')

      return `"${formatted}"`
    }

  </script>
</body>

</html>